* {
  margin: 0 0 0 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Lato", sans-serif; */
  transition: 100ms all;
}

body {
  padding: 20px 10px;
}

main {
  margin: 0 auto 0 auto;
  padding-bottom: 100px;
  max-width: 700px;
}

img {
  width: 100%;
}
